.nav {
  display: flex;
  justify-content:space-between;
  border: none;
  align-items: center;
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(255, 100, 10);
  box-shadow: 6px 20px 20px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}

.logo-img {
  width: 130px;
}

.nav-link {
  color: black;
}

.bi-list {
  cursor: pointer;
  font-size: 30px;
}
