.row-home > div:nth-child(13),
.row-home > div:nth-child(14) {
  margin-left: auto;
  margin-right: auto;
}

.row-home {
  height: 100vh;
}

.card-home {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  transition: transform 0.3s ease;
  border: 5px solid black;
  border-radius: 500px;
  cursor: pointer;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 8pc 16px rgba(0, 0, 0, 0.2);
  }

  & > a {
    text-decoration: none;
    color: black;
  } 
}

.imgs-category-home {
  width: 100%;
  height: auto;
  object-fit: cover;
}
