.row-home > div:nth-child(13),
.row-home > div:nth-child(14) {
  margin-left: auto;  
  margin-right: auto;
}

.row-home {
  height: 100vh;
}

.card-home {
  transition: transform 0.3s ease;
  border: 1px solid rgb(255, 100, 10);
  cursor: pointer;

  &:hover{
    transform: translateY(-10px);
    box-shadow: 0 8pc 16px rgba(0,0,0,0.2);
  }
}
