@import "header";
@import "cards";
@import "home";
@import "aside";
@import "myLists";
@import "products";

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

main {
  min-height: 100vh;
}
